<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application</key>
	<array>
		<dict>
			<key>tenantID</key>
			<string>CAINC-USERSTORE</string>
			<key>appId</key>
			<string>MathApp</string>
			<key>baseURL</key>
			<string>https://collector.mobility.ca.com/mdo/collector/v1</string>
			<key>profileURL</key>
			<string>https://mdo.mobility.ca.com/mdo/v1/profiles/CAINC-USERSTORE/MathApp</string>
			<key>appKey</key>
			<string>26d44960-6452-11e4-aaf3-c1dc47923ba5</string>
		</dict>
	</array>
</dict>
</plist>